[submodule "themes/reveal-hugo"]
	path = themes/reveal-hugo
	url = git@github.com:dzello/reveal-hugo.git
[submodule "static/shared-slides"]
	path = static/shared-slides
	url = https://github.com/DanySK/shared-slides.git
